body {
    background-color: rgb(153, 101, 43);
    font-family: cursive;
    font-size: 20px;
}
.content-container {
    display: flex;
    align-items: center;
}
.content-container img {
    margin-right: 20px;
}
.content-container p {
    max-width: 600px;
}
#input {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}
#sandwichpara {
    font-size: 20px;
    font-family: cursive;
    color: rgb(52, 45, 11);
    font-weight: 800;
}
#notcost {
    text-decoration: line-through;
}
#cost {
    font-size:20px;
    font-family: cursive;
    font-weight: 800;
}